# Ignore node_modules
node_modules/

# Ignore common build directories
dist/
build/

# Ignore certificate and key files
*.crt
*.key

# Optional: ignore logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Optional: ignore environment files
.env